[CA_default]
dir             = OCSP
certs           = $dir/certs
crl_dir         = $dir/crl
database        = $dir/index.txt
new_certs_dir   = $dir/newcerts
certificate     = $dir/ocsp.crt
serial          = $dir/serial
crlnumber       = $dir/crlnumber
crl             = $dir/crl.pem
private_key     = $dir/ocsp.key
RANDFILE        = $dir/.rand
name_opt        = ca_default
cert_opt        = ca_default
default_days    = 365
default_crl_days= 30
default_md      = sha256
preserve        = no
policy          = policy_anything

[req_extensions]
basicConstraints = CA:false
keyUsage =  critical, digitalSignature, nonRepudiation, keyCertSign
